<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog</a></h1>
    </div>

    <div>
        <p>publicado em 15.03.2025, 23:26</p>
        <h2><a href="">pj_marte Post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>publicado em 15.03.2025, 23:27</p>
        <h2><a href="">pj_marte Post 2</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
</body>
</html>
